  <div class="container">
    <br>
    <div class="col-md-7">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control">
      <label for="email">Correo</label>
      <input type="email" name="email" id="email" class="form-control">
      <label for="mensaje">Mensaje</label>
      <textarea name="mensaje" id="mensaje" cols="30" rows="10" class="form-control"></textarea>
      <hr>
      <button class="col-md-12 btn btn-primary">Enviar</button>
    </div>
    <div class="col-md-5 text-center">
      <label>Ubicados en</label>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <br>
      <h2>Contáctanos</h2>
      <p><span class="glyphicon glyphicon-pushpin"></span> Av. Siempre Viva No. 123 Col. Springfield. Puebla, Pue</p>
      <p><span class="glyphicon glyphicon-earphone"></span> 222-2145566</p>
      <p><span class="glyphicon glyphicon-envelope"></span> mattgroening@mail.com</p>
    </div>
  </div>
